@import url(latofonts.css);

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body {
    font-family: LatoWeb;
    font-size: 16px;
}

body * {
    position:relative;
}

.dark {
    color: whitesmoke;
}

.header {
    position: fixed;
    display: block;
    background: none;
    border-bottom: solid 2px #000000FF;
    background: #F5F5F5FF;
    padding: 10px 35px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    right: 0;
    left: 0;
    height: 60px;
}

.header-spacer {
    height: 60px;
}

.dark .header {
    border-bottom: solid 2px #F5F5F5FF;
    background: #303030FF;
}

.transparent-header, .dark .transparent-header {
    border-bottom: solid 2px #F5F5F5FF;
    background: #00000080;
}

.header-sections-nav, .header-account-nav {
    display: flex;
    justify-content: space-evenly;
}

.header-account-nav {
    flex-direction: row-reverse;
}

.nav-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 120px;
    padding: 5px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    color: #000000FF;
    font-family: LatoWebSemibold;
    height: 100%;
}

.transparent-header .nav-button, .dark .nav-button {
    color: #F5F5F5FF;
}

.highlighted-nav-button {
    border: solid 2px #000000FF;
    border-radius: 5px;
}

.transparent-header .highlighted-nav-button, .dark .highlighted-nav-button {
    border: solid 2px #F5F5F5FF;
}

.parallax-section {
    display: flex;
    flex-direction: column;
    background: url(/ressources/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
    height: 100vh;
    z-index: 1;
    display: grid;
    grid-template-rows: 60px auto;
}

.parallax-section-overlay::before {
    background: linear-gradient(60deg, #00000000, #00000000, #ee6303ff, #fdcf00ff);
    mix-blend-mode: color;
    opacity: .5;
    z-index: 1;
}

.parallax-section-overlay::after {
    background: linear-gradient(60deg, #000000FF, #000000FF, #00000000, #00000000);
    opacity: .5;
    z-index: 2;
}

.parallax-section::before, .parallax-section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.parallax-section * {
    z-index: 3;
}

.parallax-section-header {
    grid-row: 1;
}

.parallax-section-content {
    grid-row: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse; 
    padding: 10vw;
}

.welcome-logo {
    width: 100%;
    max-width: 500px;
}

.welcome-text {
    font-family: LatoWebLight;
    width: 100%;
    max-width: 500px;
    color: #F5F5F5FF;
    font-size: 32px;
    text-align: center;
    margin-right: 10vw;
}

@media (orientation: portrait) {
    .parallax-section-content {
        flex-direction: column;
    }

    .welcome-text {
        margin-right: 0;
    }

    .welcome-logo, .welcome-text {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .welcome-text {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .welcome-text {
        font-size: 18px;
    }
}

.section {
    display: flex;
    flex-direction: column;
    background: #F5F5F5FF;
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark .section {
    background: #303030FF;
}

.section-separator {
    border-bottom: solid 2px #000000FF;
}

.dark .section-separator {
    border-bottom: solid 2px #F5F5F5FF;
}

.section-container {
    padding: 20px;
    max-width: 1200px;
    width: 100%;
}

.vehicle-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.vehicle-info-container, .vehicle-history-container {
    margin: 20px;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table-auto {
    table-layout: auto;
}

.vehicle-info-container {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.table thead {
    border-bottom: solid 2px black;
    background: #C0C0C0FF;
    font-family:  LatoWebSemiBold;
}

.dark .table thead {
    border-bottom: solid 2px #F5F5F5FF;
    background: #707070FF;
}

.table tbody tr:nth-child(even) {
    background: #E0E0E0FF;
}

.dark .table tbody tr:nth-child(even) {
    background: #505050FF;
    border-radius: 10px;
}

.table tbody tr td {
    text-align: center;
}

.vehicle-table tbody tr td {
    text-align: left;
}

.vehicle-table tbody tr td:first-child {
    text-align: right;
}

.table * tr *{
    padding: 5px;
}

.map * {
    position: static;
}

.map-section {
    height: 100vh;
    z-index: 1;
}

.leaflet-top {
    margin-top: 60px;
}

.leaflet-control-attribution {
    display: none;
}