{% extends "base.html.twig" %}

{% block content %}
    <div class="header-spacer">
    </div>

    <div class="section">
        <ul class="section-container product-grid">
            {% for product in products %}
            <a href="{{ url('product.show', {slug:product.slug, id:product.id}) }}">
                <li class="thumbnail-frame">
                    <div class="thumbnail-frame-picture"><img src="/ressources/samples/candle.png" alt="{{ product.name }} image"></div>
                    <div class="thumbnail-frame-info">
                        <div class="thumbnail-frame-title">{{ product.name }}</div>
                        <div class="thumbnail-frame-price">{{ (product.price/100)|format_currency("EUR", locale="fr") }}</div>
                    </div>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}